# Sentiment Analysis for olist customers

In [2]:
%matplotlib inline

import sqlite3
import pandas as pd
import numpy as np
import nltk
import string
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import re

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import roc_curve, auc
from nltk.stem.porter import PorterStemmer

from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from itertools import chain
from nltk import ngrams

In [3]:
df = pd.read_csv('C:\\Users\\gaura\\Downloads\\Dataset\\olist_reviews.csv')

In [4]:
df.head()

,review_id,product_id1,product_cat,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,e481f51cbdc54678b7cc49136f2d6af7,4,NaN,NaN,1/18/2018,1/18/2018
1,80e641a11e56f04c1ad469d5645fdfde,e5f2d52b802189ee658865ca93d83a8f,pet_shop,53cdb2fc8bc7dce0b6741e2150273451,5,NaN,NaN,3/10/2018,3/11/2018
2,228ce5500dc1d8e020d8d1322874b6f0,c777355d18b72b67abbeef9df44fd0fd,furniture_decor,47770eb9100c2d0c44946d9cf07ec65d,5,NaN,NaN,2/17/2018,2/18/2018
3,e64fb393e7b32834bb789ff8bb30750e,7634da152a4610f1595efa32f14722fc,perfumery,949d5b44dbf5de918fe9c16f97b45f8a,5,NaN,I received well before the deadline.,4/21/2017,4/21/2017
4,f7c4243c7fe1938f181bec41a392bdeb,ac6c3623068f30de03045865e4e10089,garden_tools,ad21c59c0840e6cb83a9ceb5573f8159,5,NaN,Congratulations loved lannister stores buy the...,3/1/2018,3/2/2018

In [5]:
df["Sentiment"] = df["review_score"].apply(lambda rating: "Positive" if rating > 3 else "Negative")
df.loc[df.review_score == 3, 'Sentiment'] = "Neutral"

In [6]:
df.head()

,review_id,product_id1,product_cat,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,Sentiment
0,7bc2406110b926393aa56f80a40eba40,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,e481f51cbdc54678b7cc49136f2d6af7,4,NaN,NaN,1/18/2018,1/18/2018,Positive
1,80e641a11e56f04c1ad469d5645fdfde,e5f2d52b802189ee658865ca93d83a8f,pet_shop,53cdb2fc8bc7dce0b6741e2150273451,5,NaN,NaN,3/10/2018,3/11/2018,Positive
2,228ce5500dc1d8e020d8d1322874b6f0,c777355d18b72b67abbeef9df44fd0fd,furniture_decor,47770eb9100c2d0c44946d9cf07ec65d,5,NaN,NaN,2/17/2018,2/18/2018,Positive
3,e64fb393e7b32834bb789ff8bb30750e,7634da152a4610f1595efa32f14722fc,perfumery,949d5b44dbf5de918fe9c16f97b45f8a,5,NaN,I received well before the deadline.,4/21/2017,4/21/2017,Positive
4,f7c4243c7fe1938f181bec41a392bdeb,ac6c3623068f30de03045865e4e10089,garden_tools,ad21c59c0840e6cb83a9ceb5573f8159,5,NaN,Congratulations loved lannister stores buy the...,3/1/2018,3/2/2018,Positive

In [8]:
df.groupby(['Sentiment' ]).sum()

           review_score
Sentiment
Negative            846
Neutral            1269
Positive          18481

In [30]:
df.groupby(['product_cat' , 'Sentiment']).sum()
df2 = df[df['product_cat'] == 'housewares']
print(df2.groupby(['Sentiment']).sum().to_json())

{"review_score":{"Negative":41,"Neutral":108,"Positive":1057}}